*{
    margin: 0;
    padding: 0;
}
.header{
    height: 100vh;

}
.navbar-style{
    box-shadow: 0 5px 10px darkblue ;
    text-transform: capitalize;
}
.logo{
    height: 48px;
    padding: 2px 10px;
}
.icon-bar{
    background:darkred;
}
li a{
    color:black;
}
.BIG-TEXT{
    font-size: 52PX;
    margin: 20PX 0;
    color: brown;

}
a.btn{
    margin: 30px 10px;
    width: 150px;
    padding:10px ;
    border-radius: 20px;
}
a.btn-1st{
    background:transparent;
    border: 1px solid blue;
color:black;
}
a.btn-2nd{
    background:transparent;
    border: 1px solid red;
    color:black
    
}
a.btn:hover{
    background: green;
    border:none;
color: honeydew;
box-shadow: 5px 5px 10px blue;
transition: 0.3s;

}